/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2020, 4:55:54 PM
    Author     : rani
*/

#information-bar .container {
    background: #fff none repeat scroll 0 0;
    margin-bottom: -35px;
    margin-top: 0;
    padding: 45px 0;
    position: relative;
    top: auto;
    z-index: 999;
}

.register_li{
    width: 100%!important;
    margin-bottom: 35px;   
}

#register-now .register_ul {
    background: #fff;
    padding: 40px 45px;
    margin-top: 55px;
}

.backeventimages{
        background-size: cover!important;
    background-position: center!important;
}

.textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.eventreadmore{
        padding: 5px;
    border: 1px solid #3c9d91;
    border-radius: 5px;
}

.eventdetails{}

.eventdetails hr{
        margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #28b38e;

}

.addressblockevent{
    
}

.join-event-button {
   display: inline-block;
    border: 2px solid transparent;
    line-height: 44px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 0 30px;
    text-transform: uppercase;
    background: #FF8625;
}

.join-event-button:before {
    border-radius: 5px;
    background: #fff;
    color:#FF8625;
}

.join-event-button:hover {
    color: #ff8625;
}


.profileblock input {
    height: 40px;
    line-height: 40px;
    color: #929FA8;
    outline: none;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    padding: 0 5px;
    width: 100%;
    transition: all .3s ease;
}

.profile-header{
    padding:10px;
}

.profile-header {
    font-size: 13px;
    padding: 37px 0px 0px;
    color: white;
    text-align: center;
}


.bigblock {
    background: #fff;
    padding: 30px 30px;
}

.woocommerce-MyAccount-navigation-link a{
      color: black;
    font-size: 18px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
}